
FD/fd_clean_20200417.csv
*.csv
*.Rproj
*.history
FD/.Rhistory
FD/.RData
FD/.DS_Store
*.pper
FD/.Rproj.user/shared/notebooks/paths
FD/.Rproj.user/92DED8D2/sources/s-B8238903/lock_file
FD/.Rproj.user/92DED8D2/sources/s-B8238903/FD6979D5-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/F52A0D80-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/EF8C8BBA-contents
FD/.Rproj.user/shared/notebooks/patch-chunk-names
FD/.Rproj.user/92DED8D2/sources/s-B8238903/EB8BE9C6-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/D4AEF471-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/C94FA41-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/C491B5D5-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/BA46655A-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/B62594CB-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/8D105726-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/4F68065B-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/3F60341F-contents
FD/.Rproj.user/92DED8D2/sources/s-B8238903/3F60341F
FD/.Rproj.user/92DED8D2/sources/s-B8238903/14D0BD7B-contents
FD/.Rproj.user/92DED8D2/sources/s-1E1AB478/lock_file
FD/.Rproj.user/92DED8D2/sources/s-1E1AB478/E55B3CEE-contents
FD/.Rproj.user/92DED8D2/sources/s-1E1AB478/E55B3CEE
FD/.Rproj.user/92DED8D2/sources/s-1E1AB478/B97A427E-contents
FD/.Rproj.user/92DED8D2/saved_source_markers
FD/.Rproj.user/92DED8D2/sources/prop/31774CCF
FD/.Rproj.user/92DED8D2/sources/prop/AD81A865
FD/.Rproj.user/92DED8D2/sources/prop/DA498610
FD/.Rproj.user/92DED8D2/sources/prop/INDEX
FD/.Rproj.user/92DED8D2/sources/s-1E1AB478/3C8CD986
FD/.Rproj.user/92DED8D2/sources/s-1E1AB478/3C8CD986-contents
FD/.Rproj.user/92DED8D2/sources/s-1E1AB478/B97A427E
FD/.Rproj.user/92DED8D2/rmd-outputs
FD/.Rproj.user/92DED8D2/persistent-state
